.city-search {
  width: 100%;
  max-width: 600px;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.city-search form {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
}

.city-search input {
  width: 60%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  font-size: 1rem;
  height: 20px;
}

.city-search.light input {
  background-color: whitesmoke;
  color: black;
}

.city-search.dark input {
  background-color: #444;
  color: #f0f4f8;
}

.city-search button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  height: 40px;
  margin-right: 10px;
}

.city-search.light button {
  background-color: skyblue;
  color: ivory;
}

.city-search.dark button {
  background-color: #555;
  color: ivory;
}

.city-search button:hover:not([disabled]) {
  background-color: rgb(135, 215, 245);
}

.city-search button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.city-search ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.city-search li {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.city-search.light li {
  background: #f9f9f9;
}

.city-search.dark li {
  background: #555;
  color: #f0f4f8;
}

.city-search li:hover {
  background-color: #eee;
}