body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  width: 100vw;
}

.App.light {
  background-color: #f0f4f8;
  color: #333;
}

.App.dark {
  background-color: #333;
  color: #f0f4f8;
}

.App-header {
  position: sticky;
  top: 0;
  width: 100%;
  text-align: center;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.App-header.light {
  background-color: skyblue;
  color: ivory;
}

.App-header.dark {
  background-color: #444;
  color: ivory;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 20px;
}

.select-city-message {
  text-align: center;
  margin-top: 20px;
  font-size: 1.2rem;
}

.weather-display {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.weather-cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-info {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}


.weather-card {
  width: 100%;
  max-width: 600px;
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
}

.chart-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 0;
}

.chart {
  flex: 1 1 48%;
  min-width: 280px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
}

.weather-card, .chart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-info h2 {
  margin: 10px 0;
  font-size: 2rem;
}

.weather-info p {
  margin: 5px 0;
  font-size: 1.2rem;
}

.weather-info.light, .chart.light {
  background: #ffffff;
}

.weather-info.dark, .chart.dark {
  background: #555;
  color: #f0f4f8;
}

@media (min-width: 768px) {
  .container {
    width: 100%;
    max-width: 1200px;
  }

  .weather-display {
    flex-direction: column;
    align-items: center;
  }

  .weather-info {
    flex-direction: column;
    justify-content: space-between;
  }

  .weather-card, .chart {
    width: 48%;
  }
}

@media (min-width: 1024px) {
  .chart-container {
    justify-content: space-around;
  }
}